<% @divelog = Divelog.find(favorite.divelog_id) %>
<% user = @divelog.user %>
<li id="favorite-<%= favorite.id %>">
  <div class="row favorite-divelog">
    <div class="col-md-2">
      <%= link_to((image_tag @divelog.picture.url), divelog_path(@divelog), class: 'divelog-picture') %>
    </div>
    <div class="col-md-7">
      <p><%= link_to @divelog.name, divelog_path(@divelog) %></p>
      <p><%= @divelog.description %></p>
      <p class="cook-user">dived by <%= link_to user.name, user_path(user) %></p>
    </div>
  </div>
</li>
