<% @divelog = divelog %>
<li id="divelog-<%= divelog.id %>">
  <%= link_to gravatar_for(divelog.user, size: 50), divelog.user %>
  <span class="name"><%= link_to divelog.name, divelog_path(divelog) %></span>
  <span>
    <%= link_to((image_tag divelog.picture.thumb200.url), divelog_path(divelog.id), class: 'divelog-picture') if divelog.picture.url.present? %>
  </span>
  <%= render 'users/favorite_form' %>
  </div>
  <div class="col-md-9 escape-float">
  <h3 class="name"><%= link_to divelog.name, divelog_path(divelog) %></h3>
  <span class="description"><%= divelog.description %></span><br>
  <span class="weather">天候：<%= divelog.weather %></span>
  <span class="temp">気温：<%= divelog.temp %>°C　</span>
  <span class="water_temp">水温：<%= divelog.water_temp %>°C　</span>
  <span class="depth">水深：<%= divelog.depth %>m</span>
  <span class="visibility">透明度：<%= divelog.visibility %>m</span>
  <span class="reference"><%= link_to "利用したショップ", divelog.reference, target: :_blank %></span>
  <span class="popularity">人気度：
  <% if @divelog.popularity.present? %>
            <%= "★" * divelog.popularity %><%= "☆" * (5 - divelog.popularity) %>
          <% end %>
        </span>
      </div>
<% if current_user == divelog.user %>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <div class="divelog-created-at">
            <%= time_ago_in_words(divelog.created_at) %>前に投稿
          </div>
        </div>
        <% if current_user.admin? || (current_user == divelog.user) %>
          <div class="col-md-6">
            <%= link_to "削除", divelog_path(divelog), method: :delete,
                               data: { confirm: "本当に削除しますか？" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</li>
